<div class="container-fluid div-center">
  <div class="row animate__animated animate__fadeInDown" *ngIf="doAnimate">
    <div [ngClass]="{'animate__animated animate__fadeInLeft animate__faster': doAnimate}"
      class="col-3 text-center font-200">
      <strong>{{first}}</strong>
    </div>
    <div [ngClass]="{'animate__animated animate__fadeInDown': doAnimate}" class="col-3 text-center font-200">
      <strong>{{middle}}</strong>
    </div>
    <div [ngClass]="{'animate__animated animate__fadeInRight animate__faster': doAnimate}"
      class="col-6 text-center font-200">
      <strong>{{last}}</strong>
    </div>
  </div>

  <div class="row">
    <div class="col text-center refresh-icon" (click)="buildName()">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
  </div>
</div>
